$default_font: "Work Sans";
$fallback_font: sans-serif;

$rem-size: 8px;

$biggest-text-size: 4rem;
$big-text-size: 3rem;
$intermediate-text-size: 2.5rem;
$medium-text-size: 2.25rem;
$regular-text-size: 2rem;
$small-text-size: 1.75rem;
$smallest-text-size: 1.5rem;

$biggest-line-height: 6rem;
$big-line-height: 4rem;
$regular-line-height: 3rem;
$small-line-height: 2rem;