@keyframes opacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes opacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.DotLoader {
  position: absolute;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  & span {
    animation-name: opacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    -webkit-animation-name: opacity;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: opacity;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:nth-child(2) {
      animation-delay: 100ms;
      -webkit-animation-delay: 100ms;
      -moz-animation-delay: 100ms;
    }

    &:nth-child(3) {
      animation-delay: 300ms;
      -webkit-animation-delay: 300ms;
      -moz-animation-delay: 300ms;
    }
  }
}